:root {
  --clr-primary: #2680c0;
  --clr-primary-dark: hsl(205, 100%, 21%);
  --clr-primary-light: hsl(205, 84%, 74%);
  --clr-grey-1: #102a42;
  --clr-grey-5: #617d98;
  --clr-grey-10: #f1f5f8;
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.25rem;
  --large-screen-width: 1170px;
  --small-screen-width: 90vw;
  --fixed-width: 50rem;
  --clr-bcg: #fff;
  --clr-font: #282c35;
  --clr-primary: #d23669;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1rem;
  }

  body {
    font-size: 1rem;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/*
  =============== 
  Navbar
  ===============
  */
.loading {
  text-align: center;
  margin-top: 5rem;
}

nav {
  background: var(--clr-primary);
  padding: 1.25rem 2rem;
}

.nav-center {
  max-width: var(--fixed-width);
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h3 {
  margin-bottom: 0;
  color: var(--clr-white);
}

.nav-container {
  display: block;
  position: relative;
}

.amount-container {
  position: absolute;
  top: -0.85rem;
  right: -0.85rem;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
  background: var(--clr-primary-light);
  display: flex;
  align-items: center;
  justify-content: center;
}

.total-amount {
  color: var(--clr-white);
  margin-bottom: 0;
  font-size: 1.25rem;
}

/*
  =============== 
  Cart
  ===============
  */
.cart {
  min-height: calc(100vh - 120px);
  width: 90vw;
  margin: 0 auto;
  margin-top: 40px;
  padding: 2.5rem 0;
  max-width: var(--fixed-width);
}

.cart h2 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 3rem;
}

.empty-cart {
  text-transform: lowercase;
  color: var(--clr-grey-5);
  margin-top: 1rem;
  text-align: center;
}

.cart footer {
  margin-top: 4rem;
  text-align: center;
}

.cart-total h4 {
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.clear-btn {
  background: transparent;
  padding: 0.5rem 1rem;
  color: var(--clr-red-dark);
  border: 1px solid var(--clr-red-dark);
  margin-top: 2.25rem;
  border-radius: var(--radius);
}

.clear-btn:hover {
  background: var(--clr-red-light);
  color: var(--clr-red-dark);
  border-color: var(--clr-red-light);
}

/*
  =============== 
  Cart Item
  ===============
  */
.cart-item {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0;
}

.cart-item img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
}

.cart-item h4 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  letter-spacing: 2px;
}

.item-price {
  color: var(--clr-grey-5);
}

.remove-btn {
  color: var(--clr-primary);
  letter-spacing: var(--spacing);
  cursor: pointer;
  font-size: 0.85rem;
  background: transparent;
  border: none;
  margin-top: 0.375rem;
  transition: var(--transition);
}

.remove-btn:hover {
  color: var(--clr-primary-light);
}

.amount-btn {
  width: 1.5rem;
  background: transparent;
  border: none;
  cursor: pointer;
}

.amount {
  text-align: center;
  margin-bottom: 0;
  font-size: 1.25rem;
  line-height: 1;
  padding-left: 8px;
}

hr {
  background: var(--clr-grey-5);
  border-color: transparent;
  border-width: 0.25px;
}

/*
  =============== 
  Markdown
  ===============
  */
.markdown {
  padding: 4rem;
  display: grid;
  row-gap: 4rem;
}
.input {
  border-color: transparent;
  border-radius: var(--radius);
  font-size: 1.2rem;
  line-height: 2;
  box-shadow: var(--dark-shadow);
}
.input,
.result {
  padding: 1rem 2rem;
}

@media screen and (min-width: 992px) {
  .markdown {
    min-height: 100vh;
    grid-template-columns: 1fr 1fr;
    column-gap: 4rem;
  }
}
/* unique styles */
img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
blockquote {
  font-size: 2rem;
  font-style: italic;
  border-left: 5px solid var(--clr-grey-5);
  color: var(--clr-grey-5);
  padding-left: 2rem;
  line-height: 2;
  margin-bottom: 1.5rem;
}
blockquote ::first-letter {
  text-transform: uppercase;
}
pre {
  background: #222;
  display: inline-block;
  border-radius: var(--radius);
  padding: 1rem 2rem;
  color: yellow;
  margin-bottom: 1.5rem;
}
/*
=============== 
Pagination
===============
*/
.section-title {
  text-align: center;
  margin: 4rem 0 6rem 0;
}
.underline {
  width: 8rem;
  height: 0.25rem;
  background: var(--clr-primary-5);
  margin: 0 auto;
}
.followers {
  width: 90vw;
  max-width: var(--max-width);
  margin: 5rem auto;
}
.container {
  display: grid;
  gap: 2rem;
  margin-bottom: 4rem;
}
@media screen and (min-width: 576px) {
  .container {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
.card {
  background: var(--clr-white);
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  padding: 2rem 3.5rem;
  text-align: center;
}
.card img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 0.75rem;
}

.card h4 {
  margin-bottom: 1.5rem;
  font-size: 0.85rem;
  color: var(--clr-grey-5);
}

.btn {
  padding: 0.35rem 0.75rem;
  letter-spacing: 1.6px;
  font-size: 0.75rem;
  color: var(--clr-white);
  background: var(--clr-primary-5);
  border-radius: var(--radius);
  border-color: transparent;
  text-transform: uppercase;
  transition: var(--transition);
  cursor: pointer;
}

.btn-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.page-btn {
  width: 2rem;
  height: 2rem;
  background: var(--clr-primary-7);
  border-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  margin: 0.5rem;
  transition: var(--transition);
}
.active-btn {
  background: var(--clr-primary-1);
  color: var(--clr-white);
}
.prev-btn,
.next-btn {
  background: transparent;
  border-color: transparent;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  margin: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}

@media screen and (min-width: 775px) {
  .btn-container {
    margin: 0 auto;
    max-width: 700px;
  }
}

/*
=============== 
Navbar
===============
*/
.nav-center {
  width: 90vw;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}
.nav-center h1 {
  font-size: 2.5rem;
  text-transform: capitalize;
  letter-spacing: 2px;
}

.articles {
  padding: 5rem 0;
  width: 90vw;
  max-width: 600px;
  margin: 0 auto;
}
.post {
  margin-bottom: 3rem;
}
.post h2 {
  color: var(--clr-primary);
  text-transform: capitalize;
  letter-spacing: 2px;
  font-size: 1.75rem;
}
.post-info {
  margin-bottom: 0.75rem;
  font-style: italic;
}
.post-info span {
  margin-right: 0.5rem;
}

.btn {
  background: var(--clr-primary);
  color: var(--clr-bcg);
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  border-color: transparent;
  text-transform: capitalize;
  transition: all 0.3s linear;
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;
}

.dark-theme {
  --clr-bcg: #282c35;
  --clr-font: #fff;
  --clr-primary: #ffa7c4;
}
.light-theme {
  --clr-bcg: #fff;
  --clr-font: #282c35;
  --clr-primary: #d23669;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: var(--clr-bcg);
  color: var(--clr-font);
  line-height: 1.5;
  font-size: 0.875rem;
  transition: all 0.3s linear;
}

/* section */
.section {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}

/*
=============== 
Search
===============
*/
.search-form {
  width: 90vw;
  max-width: var(--max-width);
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 3rem;
}
.form-input {
  width: 100%;
  border: none;
  border-bottom: 3px solid var(--clr-grey-8);
  max-width: 600px;
  background: transparent;
  padding: 1rem;
  font-size: 1rem;
  color: var(--clr-grey-3);
  text-transform: uppercase;
  letter-spacing: var(--spacing);
  margin-top: 1rem;
}

/*
=============== 
Buttons
===============
*/

.btn-container {
  width: 90vw;
  max-width: var(--max-width);
  margin: 0 auto;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-container p {
  margin-bottom: 0;
  font-size: 1.2rem;
  font-weight: bold;
}

.btn-container button {
  margin: 1rem;
  padding: 0.25rem 0.5rem;
  text-transform: capitalize;
  font-weight: bold;
  border-color: transparent;
  background: var(--clr-primary-5);
  border-radius: var(--radius);
  color: var(--clr-white);
  letter-spacing: var(--spacing);
  cursor: pointer;
}
.btn-container button:disabled {
  cursor: not-allowed;
}

/*
=============== 
Spinner
===============
*/
.spinner-container {
  position: relative;
}
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
  margin-top: 10rem;
  border-radius: 50%;
  border: 3px solid #ccc;
  border-top-color: var(--clr-primary-5);
  animation: spinner 0.6s linear infinite;
}

/*
=============== 
Story
===============
*/
.stories {
  width: 90vw;
  max-width: var(--max-width);
  margin: 0 auto;
  margin-bottom: 5rem;
  display: grid;
  gap: 2rem;
}
@media screen and (min-width: 992px) {
  .stories {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* align-items: start; */
  }
}
.story {
  background: var(--clr-white);
  border-radius: var(--radius);
  padding: 1rem 2rem;
}

.title {
  line-height: 1.5;
  margin-bottom: 0.25rem;
}
.info {
  margin-bottom: 0.5rem;
  color: var(--clr-grey-5);
}

.read-link {
  font-size: 0.85rem;
  margin-right: 0.75rem;
  text-transform: capitalize;
  color: var(--clr-primary-5);
}

.remove-btn {
  background: transparent;
  color: var(--clr-red-dark);
  border-color: transparent;
  cursor: pointer;
  text-transform: capitalize;
  font-size: 0.85rem;
}
/*
=============== 
Quiz
===============
*/

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.quiz {
  width: 90vw;
  max-width: var(--max-width);
  margin: 4rem auto;
  background: var(--clr-white);
  border-radius: var(--radius);
  padding: 3rem;
}
.quiz-small {
  max-width: 500px;
}
.container h2 {
  margin-bottom: 2rem;
  text-align: center;
  line-height: 1.5;
  text-transform: none;
}
.answer-btn {
  display: block;
  width: 100%;
  margin: 0.75rem auto;
  background: var(--clr-primary-7);
  border-radius: var(--radius);
  border-color: transparent;
  color: var(--clr-black);
  letter-spacing: var(--spacing);
  font-size: 1rem;
  cursor: pointer;
  padding: 0.5rem 0;
  transition: var(--transition);
}
@media screen and (min-width: 576px) {
  .answer-btn {
    max-width: 60%;
  }
}
.answer-btn:hover {
  background: var(--clr-primary-5);
  color: var(--clr-white);
}
.correct-answers {
  font-size: 1rem;
  margin-bottom: 2rem;
  text-align: right;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  color: var(--clr-green-dark);
}
.next-question,
.close-btn,
.submit-btn {
  border-radius: var(--radius);
  border-color: transparent;
  padding: 0.25rem 0.5rem;
  display: block;
  width: 35%;
  margin-left: auto;
  margin-top: 2rem;
  text-transform: capitalize;
  font-weight: 700;
  letter-spacing: var(--spacing);
  font-size: 1rem;
  background: #ffb100;
  color: var(--clr-black);
  transition: var(--transition);
  cursor: pointer;
}
.next-question:hover {
  background: #805900;
  color: #ffb100;
}
/*
=============== 
Form
===============
*/

.setup-form h2 {
  margin-bottom: 2rem;
}
.form-control {
  margin-bottom: 2rem;
}
.form-control label {
  display: block;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--clr-grey-3);
  margin-bottom: 0.5rem;
}
.form-input {
  border: none;
  background: var(--clr-grey-10);
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  width: 100%;
  border-radius: var(--radius);
}
.error {
  color: var(--clr-red-dark);
  text-transform: capitalize;
}
.submit-btn {
  width: 100%;
  margin-top: 3rem;
}
/*
=============== 
Loading
===============
*/
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
  margin-top: 10rem;
  border-radius: 50%;
  border: 3px solid #ccc;
  border-top-color: var(--clr-primary-5);
  animation: spinner 0.6s linear infinite;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: var(--transition);
  z-index: -1;
}
.isOpen {
  opacity: 1;
  z-index: 999;
}

.modal-content {
  background: var(--clr-white);
  width: 90vw;
  max-width: var(--fixed-width);
  padding: 3rem;
  border-radius: var(--radius);
  text-align: center;
  position: relative;
}
.modal-content p {
  font-size: 1.5rem;
  text-transform: none;
}
.close-btn {
  margin-right: auto;
}
